/**
 *
 * FRONTEND ALL CSS
 * Designed and Developed by Shihab
 * Reach at https://linktr.ee/shihabph
 *
 */

.block {
  margin-bottom: 40px;
}

.block h3 {
  text-transform: none;
}

.comment .comment-info {
  padding: 1rem 0;
}

.comment-level-2 {
  margin-left: 2rem;
}

.comment-level-3 {
  margin-left: 3rem;
}

.comment-level-4 {
  margin-left: 4rem;
}

.comment-form {
  margin-top: 1rem;
}

header.masthead {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

header.masthead iframe.youtube-embed {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

header.masthead video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

header.masthead .page-heading,
header.masthead .intro-text,
header.masthead .post-heading {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.masthead .page-heading,
.masthead .intro-heading,
.masthead .post-heading h1 {
  color: lightgray;
  text-shadow: 1px 1px 2px #202020, 0 0 1em #303030, 0 0 0.2em #404040;
}

.masthead .intro-lead-in,
.masthead .node-info {
  color: lightgray !important;
  text-shadow: 1px 1px 1px #202020, 0 0 1em #303030, 0 0 0.2em #404040;
}

.intro-text .intro-heading {
  font-size: 400%;
}




/* ============================= */
/* Template CUTOMIZATION @SHIHAB */
/* ============================= */


#navbarNav {
  width: 100%;
}

#navbarNav ul {
  display: flex;
  justify-content: space-between;
}

#navbarNav .btn-block {
  padding-left: 2em;
  padding-right: 2em;
  color: #0fb78d;
  font-size: smaller;

}

#navbarNav .btn-block:hover{
    color: #fff;
    text-decoration: none;
    background: #0fb78d;
}

.list-group .active {
  background-color: #0fb78d;
  border: none;
}

#navbarNav>ul>li.nav-item.active>a{
  background-color: #0fb78d;
  color: #fff;
}

.list-group a:hover {
  color: #fff;
  text-decoration: none;
  background: #0fb78d;
}

.nested-list {
  background-color: #e0fff7;
}


.list-group {
  position: relative;
}

.list-group-item i {
  float: right;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}



/* ==========Social Menu=========== */

#social>img {
  margin-top: 4em;
}


.circle_social {
  float: left;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding-top: 6px;
  font-size: 1.5em !important;

}

#social {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  #social {
    justify-content: center;
  }
}

.facebook {
  background-color: #008ad3 !important;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.facebook:hover {
  color: #008ad3 !important;
  background-color: #1a1f1a !important;
  transform: scale(1.25);
}

.twitter {
  background-color: #33ccff !important;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.twitter:hover {
  color: #33ccff !important;
  background-color: #1a1f1a !important;
  transform: scale(1.25)
}

.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.instagram:hover {
  color: #d6249f;
  /* Reverse the gradient colors on background */
  background: #000 !important;
  /* Add scale transform effect on hover */
  transform: scale(1.25);
}

.youtube {
  background-color: #d7001f !important;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.youtube:hover {
  color: #d7001f !important;
  background-color: #1a1f1a !important;
  transform: scale(1.25)
}

.linkedin {
  background-color: #1b75ba !important;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.linkedin:hover {
  color: #1b75ba !important;
  background-color: #1a1f1a !important;
  transform: scale(1.25)
}

.feed {
  background-color: #ed7e00 !important;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.feed:hover {
  color: #ed7e00 !important;
  background-color: #1a1f1a !important;
  transform: scale(1.25)
}

.pinterest {
  background-color: #E60023 !important;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.pinterest:hover {
  color: #E60023 !important;
  background-color: #1a1f1a !important;
  transform: scale(1.25);
}

/* ==========Social Menu Ends=========== */
.ftr_logo {
  max-width: 30px;
  height: auto;
}

/* ==========custom Node and Block Design========= */
.block_row h4 {
  font-size: 18px !important;
  text-transform: capitalize;
}

.all_btn {
  float: right;
}

.btn_div {
  padding-right: 2em;
}

.node-list li a {
  color: #0fb78d;
}

.node-list li a:hover {
  color: #0c0c0c;
}


/* ==========custom Node and Block Design Ends========= */

/* ==========HEADER MENU========= */

.menu,
.menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.menu {
  width: 100%;
  background-color: transparent;
}

.menu:before,
.menu:after {
  content: "";
  display: block;
}

.menu:after {
  clear: both;
}

#menu-wrap>ul.menu>li.nav-item>a {
  color: #fafafa;
}

#menu-wrap>ul.menu>li.nav-item {
  display: flex;
  height: 40px;
  float: left;
  padding: 0 !important;
  /* font-weight: 500; */
  position: relative;
  align-items: center;
}


.menu a {
  float: left;
  color: #000;
  text-decoration: none;
  font: bold 12px Arial, Helvetica;
}



.menu ul {
  margin: 20px 0px 0px 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0px;
  z-index: 1;
  background-color: #fafafa;
  transition: all .2s ease-in-out;
  text-align: left;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);

}

.menu li:hover>ul {
  opacity: 1;
  visibility: visible;
  margin: 0px;
}

.menu ul ul {
  top: 0px;
  left: 130px;
  margin: 0px 0px 0px 20px;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);

}

.menu ul a {
  padding: 10px;
  width: 130px;
  display: block;
  white-space: wrap;
  float: none;
  text-transform: none;
}

.menu ul a:hover {
  color: #008b8b;
}

ul.menu li a:hover {
  color: #008b8b !important;
}

ul.menu li.nav-item.dropdown:hover>a::after {
  color: #008b8b;
}


.menu ul li:first-child>a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
}

.menu ul ul li:first-child>a:after {
  left: -12px;
  top: 50%;
  margin-top: -6px;
}

#menu-trigger {
  display: none;
}




ul.menu li.nav-item.dropdown>a::after {
  content: "▼";
  margin-left: 1px;
  color: #fafafa;
  font-size: 8px;
}

ul.menu li.nav-item.dropdown ul li.nav-link::after {
  content: none;
}

li.dropdown i {
  font-size: 10px
}

@media(min-width: 701px) {
  li.dropdown {
    display: flex;
    align-items: center;
    padding-right: 0.75em;
  }

  li.dropdown i {
    right: 10%;
    position: absolute;
  }
}


.is-sticky a {
  color: #000 !important;
}

.is-sticky ul.menu li.nav-item.dropdown>a::after {
  content: "▼";
  margin-left: 1px;
  color: #000;
  font-size: 8px;
}

.is-sticky .menu ul a:hover {
  color: #008b8b !important;
}


@media(max-width: 700px) {

  #menu-wrap {
    position: relative;
  }

  #menu-wrap* {
    box-sizing: border-box;
  }

  #menu-trigger {
    display: flex;
    cursor: pointer;
    height: 40px;
    color: #fff;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .is-sticky #menu-trigger {
    color: #000;
  }

  .menu {
    margin: 0px;
    margin-top: 0.5em;
    padding: 10px;
    position: relative;
    top: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    box-shadow: none;
    background: #fafafa;
    text-align: left;
  }

  .menu:after {
    content: '';
    position: absolute;
    left: 25px;
    top: -8px;
  }

  .menu ul {
    width: 100%;
    position: static;
    visibility: visible;
    opacity: 1;
    margin: 0px;
    background: none;
    box-shadow: none;

  }

  .menu ul ul {
    margin: 0px 0px 0px 20px;
    box-shadow: none;
  }

  .menu ul ul li:first-child>a:after {
    border-top: 0px;
    border-bottom: 0;
  }

  .menu li {
    position: static;
    display: block;
    float: none;
    border: 0px;
    margin: 5px;
    box-shadow: none;
    background: none !important;
  }

  .menu ul li {
    margin-left: 20px;
    box-shadow: none;
  }

  .menu a {
    font-size: 14px;
    width: 100%;
    display: block;
    float: none;
    padding: 0px;
  }

  .menu a:hover {
    color: #fafafa;
  }

  .menu ul a {
    padding: 0px;
    width: auto;
  }

  .menu ul a:hover {
    background: none !important;
  }
}

/* ==========HEADER MENU Ends========= */


/* ==========Home Carosel Ends========= */
.pad5rem {
  padding: 5rem !important;
}

.outerShadow {
  padding: 2em;
  box-shadow: 1px 1px 8px 0px #cbcbcb;
  border-radius: 10px;
  height: 580px !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  position: absolute;
  right: 8%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
  position: absolute;
  left: 8%;
}

.carousel_home li {
  box-sizing: content-box;
  border-radius: 50% !important;
  flex: 0 1 auto;
  width: 20px !important;
  height: 20px !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #007c4d !important;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

/* ==========Home Carosel Ends========= */
.node h5:first-child{
  text-transform:none;
  text-align: center;
  font-size: 32px;
  color: #0fb78d;
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px dashed;
}
